/* tailwind css v4.x */
@import "tailwindcss";
@import "tailwindcss-animated";

#headcolor, #maincolor, #footcolor{
  /* background-color: #edffe7; */
  /* background-color: #ffeee24f; */
  background-color: #dfffe46b;
  /* background-color: rgba(238, 252, 238, 0.527); */
}

@keyframes move {
  0% {
    visibility: hidden;
  }

  100% {
    transform: translateX(1500px);
  }
}

#test{
  animation: move 10s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

.marquee-container:hover .marquee-content {
  animation-play-state: paused;
}

@keyframes marquee {
    0% { transform: translateX(500%); }
    100% { transform: translateX(-200%); }
}

#animate-marquee {
  animation: marquee 30s linear infinite;
}

@font-face {
  font-family: 'KakaoSmallSanslight';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2503@1.0/KakaoSmallSans-Bold.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

#kakaoNomal {
  font-family: 'KakaoSmallSanslight';
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */


/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
